<section class="info">
  <h1 class="info__h1">Construcciones Juanma</h1>
  <div class="info__container">
    <span class="info__span--destacado"
      >Ofrezco servicios integrales de construcción</span
    >
    <span class="info__span"
      >Entiendo la importancia de llevar tu proyecto de principio a fin sin
      inconvenientes. Por eso, pongo a tu disposición mi amplia experiencia en
      la construcción para trabajar con la máxima calidad y cumpliendo con los
      plazos establecidos. Cada trabajo es supervisado personalmente por mí para
      asegurar su correcta ejecución.</span
    >
  </div>
</section>
