<section class="contact">
  <div class="contact__container">
    <div class="contact__container--background">
      <h4 class="contact__h4">contacto</h4>
    </div>
    <div class="contact__container--subcontainer">
      <span class="contact__span"
        >Somos una empresa, reformas y rehabilitaciones de Cádiz destacada desde
        xxxx</span
      >
    </div>
  </div>
  <div class="contact__subcontainer wrapper">
    <span class="contact__title">Mis servicios</span>
    <span class="contact__span--black"
      >Si necesitas más información sobre mi empresa o sobre mis servicios,
      ponte en contacto conmigo hoy mismo a través del siguiente formulario,
      llámanos o ven a vernos a nuestras oficinas. Estaremos encantados de
      atenderte.</span
    >
    <div class="contact__subcontainer--info">
      <div class="contact__subcontainer--flex">
        <div class="contact__subcontainer--boxes">
          <span class="contact__subcontainer--title">Mi ubicación</span>
          <span class="contact__subcontainer--span">Puerto Real / Cádiz</span>
        </div>
        <div class="contact__subcontainer--boxes">
          <span class="contact__subcontainer--title">Mi contacto</span>
          <span class="contact__subcontainer--span">
            <i class="pi pi-phone" style="font-size: 2rem"></i>
            xxxxxxxxx</span
          >
        </div>
      </div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1934.9404659320667!2d-6.194630143327076!3d36.52722114840791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2ses!4v1709717360833!5m2!1ses!2ses"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
