<section class="contact">
  <div class="contact__container">
    <div class="contact__container--background">
      <h4 class="contact__h4">contacto</h4>
    </div>
    <div class="contact__container--subcontainer">
      <span class="contact__span"
        >Somos una empresa, reformas y rehabilitaciones de Cádiz destacada desde
        xxxx</span
      >
    </div>
  </div>
  <div class="contact__subcontainer">
    <span class="contact__title">Mis servicios</span>
    <span class="contact__span--black"
      >Si necesitas más información sobre mi empresa o sobre mis servicios,
      ponte en contacto conmigo hoy mismo a través del siguiente formulario,
      llámanos o ven a vernos a nuestras oficinas. Estaremos encantados de
      atenderte.</span
    >
    <div class="contact__subcontainer--info">
      <div class="contact__subcontainer--boxes">
        <span class="contact__subcontainer--title">Mi ubicación</span>
        <span class="contact__subcontainer--span">xxxxxxxxx</span>
      </div>
      <div class="contact__subcontainer--boxes">
        <span class="contact__subcontainer--title">Mi contacto</span>
        <span class="contact__subcontainer--span">xxxxxxxxx</span>
      </div>
    </div>
  </div>
</section>
