<section class="home">
  <article class="home__about">
    <div class="home__container">
      <h3 class="home__h3">Sobre mí</h3>
      <span class="home__span--widht"
        >Construcciones Lavi es una empresa de Salamanca que destaca desde 1976
        dentro del sector de construcción de obra pública y privada</span
      >
    </div>
    <div class="home__subcontainer">
      <span class="home__span"
        >Soy una persona dedicada a la construcción, reformas y rehabilitaciones
        de Cádiz desde xxxx</span
      >
      <button pButton class="p-button-secondary" label="Contacto"></button>
    </div>
  </article>
</section>
<app-info-general></app-info-general>
<app-ofrecemos-info></app-ofrecemos-info>
